{#{% block title %}Reset Password{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h2>Password reset complete</h2>#}
{#    <p>Your password has been successfully reset. You may now <a href="login">login</a> with your new password</p>#}
{#{% endblock %}#}
{##}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Reset Password" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
<div class="container">
    <h1>{% trans "Your password has been successfully reset. You may now " %}<a
            href="{% url 'login' %}">{% trans "login" %}</a>{% trans "withyour new password" %}</h1>
</div>
</body>
</html>






