{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title>bs4 sign up page - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            margin-top: 20px;
            background-color: #f2f3f8;
        }

        .card {
            margin-bottom: 1.5rem;
            box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e5e9f2;
            border-radius: .2rem;
        }
    </style>
</head>
<body>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
                <div class="text-center mt-4">
                    <h1 class="h2">{% trans "Register" %}</h1>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form method="post" action="{% url 'register' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>{% trans "Frist name" %}</label>
                                    <input class="form-control form-control-lg" type="text" name="first_name"
                                           placeholder="Enter your Frist name">
                                </div>
                                <div class="form-group">
                                    <label>{% trans "Last name" %}</label>
                                    <input class="form-control form-control-lg" type="text" name="last_name"
                                           placeholder="Enter your Last name">
                                </div>
                                <div class="form-group">
                                    <label>{% trans "Username" %}</label>
                                    <input class="form-control form-control-lg" type="text" name="username"
                                           placeholder="Enter your username">
                                </div>
                                <div class="form-group">
                                    <label>{% trans "Email" %}</label>
                                    <input class="form-control form-control-lg" type="email" name="email"
                                           placeholder="Enter your Email">
                                </div>
                                <div class="form-group">
                                    <label>{% trans "Password" %}</label>
                                    <input class="form-control form-control-lg" type="password" name="password1"
                                           placeholder="Enter your password">
                                </div>
                                <div class="form-group">
                                    <label>{% trans "Confirm Password" %}</label>
                                    <input class="form-control form-control-lg" type="password" name="password2"
                                           placeholder="Enter confirm password">
                                </div>
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-lg btn-primary">{% trans "Sign up" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>